<h3 class="title is-4 ml-6">All Products</h3>

  <div class="columns is-multiline">
    <%= render partial: 'product',
               collection: @products,
               locals: { show_link: true } %>
  </div>

  <div class="columns">
<div class="column"></div>
<div class="column"><%= paginate @products  %></div>
<div class="column"></div>
</div>
